.cleditorMain {
	border: 1px solid #CCC;
	padding: 0 1px 1px;
	background-color: #FFF;
}

.cleditorMain iframe {
	border: none;
	margin: 0;
	padding: 0;
}

.cleditorMain textarea {
	border:none;
	margin: 0;
	padding: 0;
	overflow-y: scroll;
	font-family: Monaco, Menlo, "Courier New", monospace;
	font-size: 13px;
	resize: none;
	outline: none /* webkit grip focus */
}

.cleditorToolbar {
	background: url('../images/toolbar.gif') repeat;
}

.cleditorGroup {
	float: left;
	height: 26px;
}

.cleditorButton {
	float: left;
	width: 24px;
	height: 24px;
	margin: 1px 0 1px 0;
	background: url('../images/buttons.gif') no-repeat;
}

.cleditorDisabled {
	opacity: 0.4;
	filter: alpha(opacity=40)
}

.cleditorDivider {
	float: left;
	width: 1px;
	height: 23px;
	margin: 1px 0 1px 0;
	background: #CCC;
}

.cleditorPopup {
	border: solid 1px #999;
	background-color: white;
	position: absolute;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, Freesans, Clean, sans-serif;
	font-size: 11px;
	cursor: default;
	z-index: 10000;
}

.cleditorList div {
	padding:2px 4px;
}

.cleditorList p,
.cleditorList h1,
.cleditorList h2,
.cleditorList h3,
.cleditorList h4,
.cleditorList h5,
.cleditorList h6,
.cleditorList font {
	padding: 0; margin: 0;
	background-color: transparent;
}

.cleditorPrompt {
	background-color: #F6F7F9;
	padding: 4px;
	font-size: 11px;
}

.cleditorPrompt input,
.cleditorPrompt textarea {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, Freesans, Clean, sans-serif;
	font-size: 12px;
}
