body a [class^="icon-"], a [class*=" icon-"] {
	text-decoration: none;
}

/*----------------------------------Table-------------------------------------*/

.table td {
	vertical-align: middle;
}

.table th, .table td {
	line-height: 18px;
}

.table tbody+tbody{
	border-top: 2px solid #DDD;
}

.table.table-bordered tbody tr td {
	padding-top: 9px;
	padding-bottom: 9px;
}

.table-bordered thead tr {
	background-color: #e6e6e6;
	background-image: -moz-linear-gradient(top, #EEE, #dadada);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#EEE), to(#dadada));
	background-image: -webkit-linear-gradient(top, #EEE, #dadada);
	background-image: -o-linear-gradient(top, #EEE, #dadada);
	background-image: linear-gradient(to bottom, #EEE, #dadada);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeeeee', endColorstr='#ffdadada', GradientType=0);
}

.table-bordered thead tr th {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 13px;
	font-weight: 600;
	color: #444;
	border-left: 1px solid #F1F1F1;
	border-right: 1px solid #CCC;
	-webkit-box-shadow: inset 0 1px 0 #FFF;
	-moz-box-shadow: inset 0 1px 0 #FFF;
	box-shadow: inset 0 1px 0 #FFF;
}

.table-bordered thead tr th:first-child {
	border-left-color: #CCC;
}

.table-bordered thead tr th:last-child {
	border-right: none;
}

.table-bordered tbody tr:first-child td {
	border-top-color: #CCC;
}

.table-bordered tbody tr td {
	border-left: 1px solid #FFF;
	border-right: 1px solid #DDD;
}

.table-bordered tbody tr td:first-child {
	border-left-color: #DDD;
}

.table-bordered tbody tr td:last-child {
	border-right: none;
}

.table-bordered thead tr {
	background: #EEE;
	background: -moz-linear-gradient(top, #eeeeee 0%, #dadada 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #dadada));
	background: -webkit-linear-gradient(top, #eeeeee 0%, #dadada 100%);
	background: -o-linear-gradient(top, #eeeeee 0%, #dadada 100%);
	background: -ms-linear-gradient(top, #eeeeee 0%, #dadada 100%);
	background: linear-gradient(top, #eeeeee 0%, #dadada 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#DADADA')";
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#DADADA');
}

.table-bordered thead th {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 13px;
	font-weight: 400;
	color: #444;
	border-left: 1px solid #F1F1F1;
	border-right: 1px solid #CCC;
	-moz-box-shadow: inset 0 1px 0 #FFF;
	-webkit-box-shadow: inset 0 1px 0 #FFF;
	box-shadow: inset 0 1px 0 #FFF;
}

.table-bordered thead th:first-child {
	border-left-color: #CCC;
}

.table-bordered thead th:last-child {
	border-right: none;
}

.table-bordered tbody td {
	border-left: 1px solid #FFF;
	border-right: 1px solid #DDD;
}

.table-bordered tbody tr td:first-child {
	border-left-color: #DDD;
}

.table-bordered tbody tr td:last-child {
	border-right: none;
}

.table-highlight.table-bordered thead tr {
	background-color: #4b4b4b;
	background-image: -moz-linear-gradient(top, #555, #3b3b3b);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555), to(#3b3b3b));
	background-image: -webkit-linear-gradient(top, #555, #3b3b3b);
	background-image: -o-linear-gradient(top, #555, #3b3b3b);
	background-image: linear-gradient(to bottom, #555, #3b3b3b);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff555555', endColorstr='#ff3b3b3b', GradientType=0);
}
.table-highlight.table-bordered thead th {
	color: #FFF;
	border-right: 1px solid #2f2f2f;
	border-left: 1px solid #6f6f6f;
	-webkit-box-shadow: inset 0 1px 0 #888;
	-moz-box-shadow: inset 0 1px 0 #888;
	box-shadow: inset 0 1px 0 #888;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.table tbody tr td .progress{
  margin-bottom: 0;
}

.table td.action,
table td.action {
  width: 100px;
}

.table td.action .btn-min,
table td.action .btn-min {
  float: left;
  margin: 0 1px;
}

.table.table-bordered tr.permission-group {
	background: #EEE; /* for old browsers */
	background-repeat: repeat-x;
	background: -moz-linear-gradient(top, #EEE 0%, #DADADA 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EEE), color-stop(100%, #DADADA));
	background: -webkit-linear-gradient(top, #EEE 0%, #DADADA 100%);
	background: -o-linear-gradient(top, #EEE 0%, #DADADA 100%);
	background: -ms-linear-gradient(top, #EEE 0%, #DADADA 100%);
	background: linear-gradient(top, #EEE 0%, #DADADA 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#DADADA')";
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#DADADA');
}

.table.table-bordered td.permission-key {
	font-size: .9em;
	padding-top: .8em;
	padding-bottom: .8em;
	font-weight: 700;
	color: #444;
	line-height: 20px;
	text-align: left;
	box-shadow: inset 0 1px 0 #FFF;
	-webkit-box-shadow: inset 0 1px 0 #FFF;
	-moz-box-shadow: inset 0 1px 0 #FFF;
	background: transparent;
}

#admin-modules .check-column {
	padding: 7px 0;
	vertical-align: top;
	text-align: center;
	width: 2.2em;
}

#admin-modules .module-title-column {
	padding-right: 1em;
	white-space: nowrap;
	vertical-align: top;
}

#admin-modules .module-title-column strong {
	display: block;
	margin-bottom: .2em;
}

#admin-modules .module-description-column {
	line-height: 1.5em;
	padding-top: 5px;
}

#admin-modules .module-version {
	padding: 5px 0 5px;
	font-size: 0.9em;
	color: #555;
}

/*---------------------------------Sidebar------------------------------------*/

#right .widget-menu  .widget-content {
	background: #EFEFEF;
	padding: 0;
}

#right .widget-menu  .widget-content ul {
	background: #FAFAFB;
	list-style: none;
}

#right .widget-menu  .widget-content ul.level-1 {
	margin: 0;
}

#right .widget-menu  .widget-content ul.level-1 li {
	border-bottom: 1px solid #EEE;
	border-top: 1px solid white;
}

#right .widget-menu  .widget-content ul.level-1 li:first-child {
	border-top: none;
}

#right .widget-menu  .widget-content ul.level-1 li a,
#right .widget-menu  .widget-content ul.level-1 li a:link {
	display: block;
	padding: 8px 10px 8px 8px;
	text-shadow: 0 1px 0 white;
	border-left: 2px solid #FAFAFB;
}

#right .widget-menu  .widget-content ul.level-1 li a:hover,
#right .widget-menu  .widget-content ul.level-1 li a:active {
	background: #FDFDFE;
	text-decoration: none;
}

#right .widget-menu  .widget-content ul.level-1 li.active a {
	background: white;
	border-left: 3px solid #D26911;
	font-weight: bold;
	color: #222;
	cursor: default;
	box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.1);
}

#right li.active#menu-administer a { border-left-color: #D26911; }
#right li.active#menu-modules a { border-left-color: #75d211; }
#right li.active#menu-menus a { border-left-color: #11bfd2; }
#right li.active#menu-admin-pages a { border-left-color: #1168d2; }
#right li.active#menu-blogs a { border-left-color: #8e11d2; }
#right li.active#menu-admin-comment a {	border-left-color: #d2118e; }
#right li.active#menu-taxonomy a { border-left-color: #334263; }
#right li.active#menu-tags a { border-left-color: #949711; }
#right li.active#menu-input-formats a { border-left-color: #116797; }
#right li.active#menu-path-alias a { border-left-color: #c86797; }
#right li.active#menu-users a { border-left-color: #67bfc8; }
#right li.active#menu-roles a { border-left-color: #D26911; }
#right li.active#menu-widgets a { border-left-color: #6787c8; }
#right li.active#menu-settings a { border-left-color: #d21111; }

/*--------------------------Dashboard Widgets Wrap----------------------------*/

body.widget{
	overflow: visible;
	margin: 0;
	z-index: 0;
	clear: none;
	position: relative;
}

#dashboard-widgets-wrap {
	width: 100%;
	*zoom: 1;
}

#dashboard-widgets-wrap:before,
#dashboard-widgets-wrap:after {
	display: table;
	content: "";
}

#dashboard-widgets-wrap:after {
	clear: both;
}

#dashboard-widgets-wrap [class*="blockme"] {
	display: block;
	float: left;
	margin-left: 0;
	width: 100%;
	min-height: 28px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

#dashboard-widgets-wrap [class*="blockme"]:first-child {
	margin-left: 0;
}

#dashboard-widgets-wrap .blockme {
	width: 48.93617020799999%;
	*width: 48.88297871863829%;
}

#dashboard-widgets-wrap .widget-even{
	margin-left: 2.127659574%;
	*margin-left: 2.0744680846382977%;
}

div.widget.widget-admin-shortcut .widget-content{
	padding: 1.2em 0;
}
/*-------------------------------Shortcuts---------------------------------*/

.shortcuts {
	text-align: center;
}

.shortcuts .shortcut {
	width: 23.5%;
	display: inline-block;
	padding: 0.9em 0;
	margin: 0 0.25em 0.75em;
	vertical-align: top;
	text-decoration: none;
	background: #f8f8f8;
	background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#eeeeee));
	background-image: -webkit-linear-gradient(top, #ffffff, #eeeeee);
	background-image: -o-linear-gradient(top, #ffffff, #eeeeee);
	background-image: linear-gradient(to bottom, #ffffff, #eeeeee);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
	border: 1px solid #ddd;
	box-sizing: border-box;
	border-radius: 4px;
}

.shortcuts .shortcut .shortcut-icon {
	width: 100%;
	margin-top: .25em;
	margin-bottom: .25em;
	font-size: 32px;
	color: #888;
}

.shortcuts .shortcut:hover {
	background: #E8E8E8;
	background-color: #f0f0f0;
	background-image: -moz-linear-gradient(top, #fafafa, #e1e1e1);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#e1e1e1));
	background-image: -webkit-linear-gradient(top, #fafafa, #e1e1e1);
	background-image: -o-linear-gradient(top, #fafafa, #e1e1e1);
	background-image: linear-gradient(to bottom, #fafafa, #e1e1e1);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#ffe1e1e1', GradientType=0);
}

.shortcuts .shortcut:hover .shortcut-icon {
	color: #666;
}

.shortcuts .shortcut-label {
	display: block;
	font-weight: 400;
	color: #666;
	font-size: .9em;
}

/*-------------------------------Responsive--------------------------------*/

@media (max-width: 767px) {
	#dashboard-widgets-wrap {
		width: 100%;
	}
	#dashboard-widgets-wrap [class*="blockme"] {
		float: none;
		display: block;
		width: auto;
		margin-left: 0;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	#dashboard-widgets-wrap {
		width: 100%;
		*zoom: 1;
	}
	#dashboard-widgets-wrap:before,
	#dashboard-widgets-wrap:after {
		display: table;
		content: "";
	}
	#dashboard-widgets-wrap:after {
		clear: both;
	}
	#dashboard-widgets-wrap [class*="blockme"] {
		display: block;
		width: 100%;
		min-height: 28px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		margin-left: 0;
	}
	#dashboard-widgets-wrap .widget-even{
		margin-left: 2.762430939%;
		*margin-left: 2.709239449638298%;
	}
	#dashboard-widgets-wrap .blockme {
		width: 48.618784527%;
		*width: 48.5655930376383%;
	}
}

@media (min-width: 1200px) {

	#dashboard-widgets-wrap {
		width: 100%;
		*zoom: 1;
	}
	#dashboard-widgets-wrap:before,
	#dashboard-widgets-wrap:after {
		display: table;
		content: "";
	}
	#dashboard-widgets-wrap:after {
		clear: both;
	}
	#dashboard-widgets-wrap [class*="blockme"] {
		display: block;
		width: 100%;
		min-height: 28px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		margin-left: 0;
	}
	#dashboard-widgets-wrap .blockme {
		width: 47.717948718%;
		margin: 1%;
		*width: 47.6647572286383%;
	}

}