body a [class^="icon-"], a [class*=" icon-"] {
	text-decoration: none;
}

/*----------------------------------Table-------------------------------------*/

.table tbody tr td .progress{
  margin-bottom: 0;
}

.table td.action,
table td.action {
  width: 100px;
}

.table td.action .btn-min,
table td.action .btn-min {
  float: left;
  margin: 0 1px;
}


/*---------------------------------Sidebar------------------------------------*/

#right .widget-menu  .widget-content {
	background: #EFEFEF;
	padding: 0;
}

#right .widget-menu  .widget-content ul {
	background: #FAFAFB;
	list-style: none;
}

#right .widget-menu  .widget-content ul.level-1 {
	margin: 0;
}

#right .widget-menu  .widget-content ul.level-1 li {
	border-bottom: 1px solid #EEE;
	border-top: 1px solid white;
}

#right .widget-menu  .widget-content ul li [class^="icon-"],
#right .widget-menu  .widget-content ul .nav li [class^="icon-"],
#right .widget-menu  .widget-content ul li [class*=" icon-"],
#right .widget-menu  .widget-content ul .nav li [class*=" icon-"] {
	margin-right: 8px;
}


#right .widget-menu  .widget-content ul.level-1 li:first-child {
	border-top: none;
}

#right .widget-menu  .widget-content ul.level-1 li a,
#right .widget-menu  .widget-content ul.level-1 li a:link {
	display: block;
	padding: 8px 10px 8px 8px;
	text-shadow: 0 1px 0 white;
	border-left: 2px solid #FAFAFB;
}

#right .widget-menu  .widget-content ul.level-1 li a:hover,
#right .widget-menu  .widget-content ul.level-1 li a:active {
	background: #FDFDFE;
	text-decoration: none;
}

#right .widget-menu  .widget-content ul.level-1 li.active a {
	background: white;
	border-left: 2px solid #D26911;
	font-weight: bold;
	color: #222;
	cursor: default;
	box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.1);
}

/*--------------------------Dashboard Widgets Wrap----------------------------*/

body.widget{
	overflow: visible;
	margin: 0;
	z-index: 0;
	clear: none;
	position: relative;
}

#dashboard-widgets-wrap {
	width: 100%;
	*zoom: 1;
}

#dashboard-widgets-wrap:before,
#dashboard-widgets-wrap:after {
	display: table;
	content: "";
}

#dashboard-widgets-wrap:after {
	clear: both;
}

#dashboard-widgets-wrap [class*="blockme"] {
	display: block;
	float: left;
	margin-left: 0;
	width: 100%;
	min-height: 28px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

#dashboard-widgets-wrap [class*="blockme"]:first-child {
	margin-left: 0;
}

#dashboard-widgets-wrap .blockme {
	width: 48.93617020799999%;
	*width: 48.88297871863829%;
}

#dashboard-widgets-wrap .widget-even{
	margin-left: 2.127659574%;
	*margin-left: 2.0744680846382977%;
}

div.widget.widget-admin-shortcut .widget-content{
	padding: 1.2em 0;
}
/*-------------------------------Shortcuts---------------------------------*/

.shortcuts {
	text-align: center;
}

.shortcuts .shortcut {
	width: 24.5%;
	display: inline-block;
	padding: 0.9em 0;
	margin: 0 0 1em;
	vertical-align: top;
	text-decoration: none;
	background: #F3F3F3;
	border-radius: 3px;
}

.shortcuts .shortcut .shortcut-icon {
	margin-top: .25em;
	margin-bottom: .25em;
	font-size: 32px;
	color: #888;
}

.shortcuts .shortcut:hover {
	background: #E8E8E8;
}

.shortcuts .shortcut:hover .shortcut-icon {
	color: #666;
}

.shortcuts .shortcut-label {
	display: block;
	font-weight: 400;
	color: #666;
	font-size: .85em;
}


@media (max-width: 767px) {
	#dashboard-widgets-wrap {
		width: 100%;
	}
	#dashboard-widgets-wrap [class*="blockme"] {
		float: none;
		display: block;
		width: auto;
		margin-left: 0;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	#dashboard-widgets-wrap {
		width: 100%;
		*zoom: 1;
	}
	#dashboard-widgets-wrap:before,
	#dashboard-widgets-wrap:after {
		display: table;
		content: "";
	}
	#dashboard-widgets-wrap:after {
		clear: both;
	}
	#dashboard-widgets-wrap [class*="blockme"] {
		display: block;
		width: 100%;
		min-height: 28px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		margin-left: 0;
	}
	#dashboard-widgets-wrap .widget-even{
		margin-left: 2.762430939%;
		*margin-left: 2.709239449638298%;
	}
	#dashboard-widgets-wrap .blockme {
		width: 48.618784527%;
		*width: 48.5655930376383%;
	}
}

@media (min-width: 1200px) {

	#dashboard-widgets-wrap {
		width: 100%;
		*zoom: 1;
	}
	#dashboard-widgets-wrap:before,
	#dashboard-widgets-wrap:after {
		display: table;
		content: "";
	}
	#dashboard-widgets-wrap:after {
		clear: both;
	}
	#dashboard-widgets-wrap [class*="blockme"] {
		display: block;
		width: 100%;
		min-height: 28px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		margin-left: 0;
	}
	#dashboard-widgets-wrap .blockme {
		width: 47.717948718%;
		margin: 1%;
		*width: 47.6647572286383%;
	}

}