body {
	color: #404040;
}

body.user-register {
	background: #FAFAFA url("../images/alt-bg.png") repeat 0 0!important;
}

.user-register #content {
	padding-bottom: 80px;
}

.user-register .form-horizontal,
.user-edit  .form-horizontal,
.vcard dl:first-child {
	margin-top: 0;
}

.form-password,
.form-password .login-fields,
.form-password .form-actions,
.widget .account-container .login-fields,
.widget .account-container .login-actions {
	margin-bottom: 0;
}

.form-password .btn {
	min-width: 120px;
}

.profile-container {
	margin-top: 2.5em;
	position: relative;
}

.account-container {
	padding: 0;
	margin: 60px auto 0 auto;
	display: block;
	float: none;
	position: relative;
	background: #F9F9F9;
	border: 1px solid #D5D5D5;
	-webkit-box-shadow: 0 0 20px #DADADA, inset 0 0 0 #E6E6E6;
	   -moz-box-shadow: 0 0 20px #DADADA, inset 0 0 0 #E6E6E6;
	        box-shadow: 0 0 20px #DADADA, inset 0 0 0 #E6E6E6;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
}

.widget .account-container {
	margin: 0;
	width: auto;
	background: transparent;
	border: none;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
}

.account-container .content {
	padding: 10px 60px;
}

.widget .account-container .content {
	padding: 0;
}

.account-container h1 {
	margin-bottom: .8em;
	text-transform: none;
}

.login .account-container .btn {
	display: inline-block;
	min-width: 120px;
}

.widget .account-container h1 {
	font-size: 1.6em;
	margin-top: 0;
	margin-bottom: 12px;
	text-align: center;
	border-bottom: 1px solid #a0a3a8;
}
.login-fields, .login-actions {
    float: left;
    margin-bottom: 1.25em;
    margin-top: -1em;
    width: 100%;
}
.input-append, .input-prepend {
    display: inline-block;
    font-size: 0;
    margin-bottom: 10px;
    vertical-align: middle;
    white-space: nowrap;
}

.vcard img,
.empty-photo {
	padding: 5px;
	background: #FFF;
	width: 210px;
	height: 210px;
	margin: 0 auto;
	display: block;
}

.empty-photo i {
	margin: 0 auto;
	display: block;
	width: 1em;
	position: relative;
	top: 70px;
}

a#add-pic {
	color: #838383;
	display: block;
}

a#add-pic:hover {
	color: indianred;
}

.vcard h1 {
	font-size: 26px;
	letter-spacing: -1px;
	color: #495961;
	margin-top: 6px;
	text-align: center;
}

.vcard h1 span {
	line-height: 1;
	display: inline-block;
	width: 100%;
	line-height: 26px;
	text-overflow: ellipsis;
	overflow-x: hidden;
	padding-bottom: 4px;
	margin-bottom: -12px;
}

.vcard h1 em {
	display: inline-block;
	width: 100%;
	text-overflow: ellipsis;
	overflow-x: hidden;
	font-size: 20px;
	font-style: normal;
	font-weight: 300;
	line-height: 24px;
	color: #666;
	position: relative;
	top: -2px;
	margin-bottom: 12px;
	vertical-align: top;
	letter-spacing: 0;
}

.vcard .details {
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	margin: 0 0 8px 0;
	padding: 18px 0 15px 0;
}

.vcard dl {
	margin: 5px 0 0 0;
	font-size: 14px;
}

.vcard dl dt {
	margin: 0;
	float: left;
	color: #333333;
}

.vcard dl dd {
	margin: 0 0 0 22px;
	width: 195px;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

.vcard .details .caption-label {
	color: #A0A0A0;
	padding-right: 4px;
}

.login-fields,
.login-actions {
	float: left;
	width: 100%;
	margin-top: -1em;
	margin-bottom: 1.25em;
}

.user-password .login-fields {
	margin-top: 1em;
}

.widget .account-container .login-fields > p {
	color: #9F9F9F;
	font-size: .85em;
	padding-top: .5em;
}

.login-fields .field {
	margin-bottom: 1.25em;
}


.login-fields input[type="password"],
.login-fields input[type="text"] {
	height: 38px;
	font-size: 16px;
	color: #8E8D8D;
	padding: 0 10px;
	display: block;
	margin: 0;
	-webkit-box-shadow: inset 2px 2px 4px #F1F1F1;
	   -moz-box-shadow: inset 2px 2px 4px #F1F1F1;
	        box-shadow: inset 2px 2px 4px #F1F1F1;
}

.widget .login-fields input[type="password"],
.widget .login-fields input[type="text"] {
	width: 174px;
}

.form-password input[type="password"] {
	font-size: 32px !important;
	line-height: 42px !important;
}

.login-fields .icon-large:before {
	font-size: 1.8em;
	padding-top: .1em;
}

span.login-checkbox {
	float: left;
	margin-top: 5px;
}

span.login-checkbox > input[type='checkbox'] {
	opacity: 0;
	float: left;
	width: 15px;
}

span.login-checkbox > input[type='checkbox'] + label {
	background: url('../images/check.png') no-repeat 0 0;
	padding: 0 0 0 22px;
	line-height: 1.2em;
	font-size: 12px;
	cursor: pointer;
	display: block;
	height: 15px;
	clear: none;
	margin: 0;
}

span.login-checkbox > input[type='checkbox']:checked + label {
	background-position: 0 -15px;
}

.login-actions ul {
	list-style-type: none;
	min-height: 18px;
	margin-left: 0;
}

.login-actions ul li {
	float: left;
	width: 47%;
	padding-right: 3%;
	line-height: 18px;
	text-align: right;
}

.login-actions ul li:nth-child(2n) {
	border-left: 1px solid #838383;
	margin-left: -1px;
	text-align: left;
	padding-left: 3%;
	padding-right: 0;
}

.login-social {
	padding: 10px 0 15px;
	float: left;
}

.login-social div.twitter,
.login-social div.facebook,
.login-social div.github,
.login-social div.google,
.login-social div.live {
	display: inline-block;
	position: relative;
	height: 32px;
	width: 156px;
	margin-bottom: .4em;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 1px rgba(0,0,0,.3);
	   -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 1px rgba(0,0,0,.3);
	        box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 1px rgba(0,0,0,.3);
}

.login-social div.twitter  {background: #00b0ef url('../images/social/twitter-32.png') no-repeat 0 0;}
.login-social div.facebook {background: #265999 url('../images/social/facebook-32.png') no-repeat 0 0;}
.login-social div.github   {background: #222222 url('../images/social/github-32.png') no-repeat 0 0;}
.login-social div.google   {background: #005cc3 url('../images/social/googleplus-32.png') no-repeat 0 0;}
.login-social div.live     {background: #ff4f00 url('../images/social/windows-32.png') no-repeat 0 0;}

.login-social a.btn-social {
	text-shadow: -1px -1px 0 rgba(0, 0, 0, .3);
	padding: 0 0 0 48px;
	font-weight: bold;
	font-size: 11px;
	color: #FFF;
	height: 32px;
	width: 108px;
	display: inline-block;
	line-height: 32px;
	margin-bottom: 10px;
}

.login-social a.btn-social:hover {
	color: #f8f8f8;
	text-decoration: none;
}

/* Sign Up form */

#signup .title,
#signin .title {
	padding: 15px 30px;
	margin: 0;
	letter-spacing: -1px;
	font-size: 22px;
	color: #444;
	width: auto;
	border: 1px solid #DDD;
	background: #F7F7F7 url("../images/sign-bg.png");
	-webkit-border-top-left-radius: 6px;
	    -moz-border-radius-topleft: 6px;
	        border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	    -moz-border-radius-topright: 6px;
	        border-top-right-radius: 6px;
}

#signup fieldset,
#signin .signin-wrapper {
	width: auto;
	margin: 0;
	padding: 2.7em 1em 0;
	background-color: #FFF;
	border: 1px solid #DDD;
	border-top: none;
	-webkit-border-bottom-left-radius: 6px;
	    -moz-border-radius-bottomleft: 6px;
	        border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius:6px;
	   -moz-border-radius-bottomright: 6px;
	       border-bottom-right-radius: 6px;
}

#signin .signin-wrapper {
	padding-left: 1em;
	padding-right: 1em;
}

#signup .actions,
#signin .actions {
	background: whiteSmoke;
	margin: 2em 0 0 0;
	padding: 1em 0 2em 2em;
	border-top: 1px solid #DDD;
	-webkit-border-radius: 0 0 3px 3px;
	   -moz-border-radius: 0 0 3px 3px;
	        border-radius: 0 0 3px 3px;
}

#signup label.control-label,
#signin label.control-label {
	font-weight: 700;
	font-size: .9em;
	color: #555;
}

#signin #providers {
	margin: 2em;
}

.user-register .provider {
	list-style: none;
	width: 156px;
	height: 32px;
	margin-bottom: .4em;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 1px rgba(0,0,0,.3);
	   -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 1px rgba(0,0,0,.3);
	        box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 1px rgba(0,0,0,.3);
}

/* @todo Deprecated. Use FontAwesome 4.x */
.user-register li.base     {background: #7a0c7b url('../images/social/gleez-24.png')      5px 5px no-repeat;}
.user-register li.twitter  {background: #00b0ef url('../images/social/twitter-24.png')    5px 5px no-repeat;}
.user-register li.facebook {background: #265999 url('../images/social/facebook-24.png')   5px 5px no-repeat;}
.user-register li.github   {background: #222222 url('../images/social/github-24.png')     5px 5px no-repeat;}
.user-register li.google   {background: #005cc3 url('../images/social/googleplus-24.png') 5px 5px no-repeat;}
.user-register li.live     {background: #ff4f00 url('../images/social/windows-24.png')    5px 5px no-repeat;}


.user-register .provider a {
	text-decoration: none;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, .3);
	vertical-align: middle;
	height: 32px;
	width: 108px;
	line-height: 32px;
	display: inline-block;
	color: #fff;
	font-weight: bold;
	font-size: 11px;
}

.help-signin {
	color: #333;
	background: #FDFDFD;
	margin: 1em .2em;
	font-family: Cambria, Georgia ,serif;
	font-size: 100%;
	line-height: 120%;
	padding: .8em .9em;
	border: 1px dashed #E4E4E4;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}

form .captcha {
	display: block;
}

ul{
	list-style:none;
}

ul.tabnav > li {
    color: #333;
    display: inline;
    float: right;
    font-size: 11px;
    list-style-type: none;
    margin: 0 5px 0 0;
}

.reset_password .account-container > .content {
	padding: 2em 0;
}

.reset_password legend {
	padding: 0 1em;
}

#user .list-group .list-group-item .list-group-chevron {
	color: #BBB;
	float: right;
	margin-top: 5px;
}

#user .vcard .caption-label{
	padding-right: 10px;
}

#user .list-group-chevron + .badge {
	margin-right: 10px;
}

.btn-sm .fa, .btn-xs .fa {
	font-size: 13px;
}

.vcard-details{
    padding-top:20px;
    border-top: 1px solid #E9E9E9;
}
.bio .widget-header{
    padding-top:20px;
}

.col-sidebar-right {
    border-left: 1px solid #DDDDDD;
    padding-left: 2em;
}

#form-picture{
    height:auto;
}
